{% extends 'basic.html' %}
{% load staticfiles %}
{% block title %}广州翔捷制冷设备有限公司{% endblock %}
{% block headmessage %}
    {{new.title}}
{% endblock %}
{% block content %}
<div class="about_us">
    <p class="about_title">广州翔捷制冷设备有限公司</p>
    <p class="about_desc">
        产品售后服务<br />
        产品质量承诺：<br />
        ①	产品的制造和检测均有质量记录和检测资料。<br />
        ②	对产品性能的检测，我们诚请用户亲临对产品进行全过程、全性能检查，待产品被确认合格后再装箱发货。<br />
        <br />
        产品价格承诺：<br />
        在同等竞争条件下，我公司在不以降低产品技术性能、更改产品部件为代价的基础上，真诚以最优惠的价格提供给贵方。<br />
        <br />
        交货期承诺：<br />
        产品交货期：按客户要求，若有特殊要求，需提前完工的，我公司可特别组织生产、安装、力争满足用户需求。<br />
        产品交货时，我公司向用户提供下列文件<br />
        ①	外购件说明书及制造厂家<br />
        ②	提供易损件、备件清单，并附送一定量的备件。<br />
        <br />
        售后服务承诺：<br />
        ①	整机质量保期一年，压缩机保期五年。<br />
        ②	产品保质期为十二个月，在保修期内供方将免费维修和更换属质量原因损坏的零部件，保修期外零部件的损坏，提供的配件只收成本费，
        由需方人为因素造成的设备损坏，供方维修或提供的配件均按成本计价。<br />
        ③	异地保修期内如有故障无法上门维修无条件更换新机，厂方承担全部费用。<br />
        制冷系统正常使用年限约为8年，水泵及电路部分正常使用约为5年。<br />

    </p>
    <div><img src="{% static 'img/logo.png' %}" alt="翔捷制冷" /></div>
</div>
{% endblock %}